body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
}
#artist-profile h1 {
  font-size: 2.2em;
  font-family: sans-serif;
  color: #333;
  margin-bottom: 15px;
}
h2 {
  font-size: 2em;
  font-family: sans-serif;
  color: #4B4B4B;
  margin-bottom: 10px;
}
h3 {
	font-size: 1.5em;
	font-family: sans-serif;
	color: #4B4B4B;
	margin: 0 0 15px 0;
}
.slide-container-1col {
  width: 75%;
  margin: 0 auto;
}
.slide-container-2col {
	display: inline-flex;
	width: 40%;
	vertical-align: middle;
}
.slide-container-3col {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.slide-container-3col:hover {
	cursor: pointer;
	opacity: 0.8;
	font-weight: bold;
}
.section {
  text-align: center;
}
.fp-slidesNav.bottom {
  bottom: 10px;
}
#align-left {
	text-align: left;
}
.two-col {
	text-align: left;
	list-style-type: none;
}
.two-col li {
  float: left;
  width: 90%;
	padding: 10px;
}
.big-img {
  width: 300px;
  height: 350px;
  overflow: hidden;
}
.small-img {
  width: 200px;
  height: 250px;
  overflow: hidden;
}
.giant-img {
  width: 600px;
  height: 350px;
  overflow: hidden;
}
#slideOneContent {
  font-size: 1.4em;
}
#slideSixArtistOne,
#slideSixArtistTwo,
#slideSixArtistThree {
  transition: all 0.4s ease-in-out;
}
#slideSixArtistOne img,
#slideSixArtistTwo img,
#slideSixArtistThree img {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding: 5px;
}
#slideSixArtistOne:hover,
#slideSixArtistTwo:hover,
#slideSixArtistThree:hover {
  cursor: pointer;
  opacity: 0.5;
}
#slideSixArtistOne img:hover,
#slideSixArtistTwo img:hover,
#slideSixArtistThree img:hover {
  border: 1px solid #a8a8a8;
}
