body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}
.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}
p {
  line-height: 28px;
  font-size: 15px;
}
a {
  outline: none !important;
}
hr {
  width: 180px;
  border-color: #CCC;
}
.section-title strong {
  color: #00C6D7;
  font-size: 56px;
}
.section-title h1 {
  font-size: 24px;
}
.section-title {
  padding-bottom: 32px;
}
.medium-icon {
  font-size: 32px !important;
}
#about, #portfolio, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* =====================
navigation section
======================== */

.custom-navbar {
  background: #4B4B4B;
  margin-bottom: 0;
}
.custom-navbar .navbar-brand {
  color: #00c6d7;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
  background: #00c6d7;
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.custom-navbar .nav li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.custom-navbar .nav li a:hover {
  background: transparent;
  color: #eeeeee;
}
.custom-navbar .nav> li> a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active> a {
  color: #00c6d7;
}
.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
  background: #00c6d7;
  border-color: transparent;
}
@media(min-width:768px) {
  .custom-navbar {
    background: #4B4B4B;
    padding: 10px;
    border-bottom: 0;
    background: 0 0;
  }
  .custom-navbar.top-nav-collapse {
    padding: 8px;
    background: #4B4B4B;
  }
}

/* =====================
HOME section
===================== */

#home {
  background-color: #333;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 40px;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #00c6d7;
  border-color: transparent;
}
#home .btn2 {
  background: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn2:hover {
  background: #00c6d7;
  border-color: transparent;
}

/* =====================
ABOUT section
=====================*/

#about {
  text-align: center;
}
#about .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#about .col-md-4:hover {
  background-color: #ffffff;
  border: 1px solid rgba(50, 50, 50, 0.20);
}
#about h3 {
  font-size: 18px;
}
#about .btn {
  background: transparent;
  border: 4px solid #333;
  border-radius: 0;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#about .btn:hover {
  background: #00c6d7;
  border-color: transparent;
}

/* =====================
ARTISTS section
===================== */

#artists {
  background-color: #f6f6f6;
  text-align: center;
}
#artists .container {
  width: 100%;
  padding: 100px;
  margin: 0;
}
#artists img {
  width: 100%;
  transition: all 0.4s ease-in-out;

}
#artists img:hover {
  opacity: 0.5;
}
#artists .artistContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 100%;
  border: 1px solid blue;
}
#artists .indivArtist {
  width: 160px;
  height: 200px;
  margin: 10px;
  border: 1px solid green;
}
#artists .indivArtist:hover {
  cursor: pointer;
  font-weight: bold;
}

/* popup - outer div */
.popup {
  width: 100%;
  height: 90%;
  display: none;
  position: fixed;
  top: 55px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75)
}

/* popup - inner div */
.popup-inner {
  width: 90%;
  height: 90%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background: #f6f6f6;
}
.load-page {
  width: 100%;
  height: 100%;
}

/* popup - close button */
.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
}
.popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* =====================
CONTACT section
===================== */

#contact {
  background-color: #3B3B3B;
  color: #ffffff;
}
#contact h2 {
  padding-bottom: 20px;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact form {
  padding-top: 60px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact input {
  height: 40px;
}
#contact input[type="submit"] {
  background: #00c6d7;
  border: 3px solid #00c6d7;
  letter-spacing: 1px;
  margin-top: 18px;
  height: 50px;
  color: #ffffff;
}
#contact input[type="submit"]:hover {
  color: #000000;
}

/* =====================
footer section
===================== */

footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer p {
  padding-top: 20px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #00c6d7;
}
@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #artists .col-lg-4, #artists .col-md-4 {
      width: 33.333%;
    }
  }
}

/* =====================
mobile
===================== */

@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}
